extends layout

block content
	div.container
		div.jumbotron
			div.page-header
				h3 Prueba Backend Pleisi ****   CRUD PRODUCTOS  ****
			form.form-horizontal(method='post', role='form')
				div.form-group 
					label.col-sm-4 Nombre del Producto:
					div.col-sm-8
						input.form-control(
						type="text",
						name="producto")
				div.form-group
					label.col-sm-4 Descripcion:
					div.col-sm-8
						input.form-control(
						type="text",
						name="descripcion")
				div.form-group
					label.col-sm-4 Precio:
					div.col-sm-8
						input.form-control(
						type="text",
						name="precio")
				div.form-group
					div.col-sm-offset-4.col-sm-8
						button.btn.btn-primary(type='submit') Agregar

				div.pull-right
					a(href='/compras') Compras  
			
			h2 Lista de Productos en stock

			if productos.length > 0
				ul
					each name in productos
						li
							h4="producto:  " + name.producto  + "|   descripcion:  " + name.descripcion + "|   precio:  " + name.precio 
							p
								a(href="/update/#{name._id}") Update	
								a(href="/delete/#{name._id}") Delete
			else
				p No Hay Productos	